spring:
  application:
    name: api-gateway
  config:
    import:
      - optional:configserver:http://localhost:8888/jwt
  cloud:
    gateway:
      discovery:
        locator:
          lower-case-service-id: true
      routes:
        - id: admin-user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/admin/**
          filters:
            - JwtCheck
            - AdminRoleCheck

        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user-service/**
          filters:
            - JwtCheck
          metadata:
            publicPaths:
              - /user-service/auth/register
              - /user-service/auth/login
              - /user-service/auth/new-access
              - /user-service/auth/validate-access-token
              - /user-service/v3/api-docs

        - id: admin-car-service
          uri: lb://car-service
          predicates:
            - Path=/car-service/admin/**
          filters:
            - JwtCheck
            - AdminRoleCheck

        - id: car-service
          uri: lb://car-service
          predicates:
            - Path=/car-service/**
          filters:
            - JwtCheck
          metadata:
            publicPaths:
              - /car-service/v3/api-docs


server:
  port: 8765
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    urls:
      - name: user-service
        url: /user-service/v3/api-docs
      - name: car-service
        url: /car-service/v3/api-docs
  api-docs:
    enabled: true
  cache:
    disabled: true