spring:
  application:
    name: user-service
  config:
    import:
      - optional:configserver:http://localhost:8888/maindb-database
      - optional:configserver:http://localhost:8888/jwt
      - optional:configserver:http://localhost:8888/common-client-service